<div class="containe">
    <div class="row">
        <div class="col text-center">
            <img src="../img/huh.png" alt="kibot" class="rounded-circle img-thumbnail" width="200">
            <h1 class="display-4">Kibot</h1>
            <p class="lead">Anomali | IR. eng</p>
        </div>
    </div>
</div>